.cacher {
    visibility: hidden;
}

.colorDark {
    background-color: #1e1e1e;
}

.boxTitleHaut {
    font-size:0.8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 250px;
    height: 35px;
    border: 1px solid #9a9a9a;
    border-radius: 5px 5px 0 0;
    background-color: rgba(30, 34, 49,0.7);
}

.boxTitleBas {
    font-size:0.8em;
    width: 100%;
    height: 35px;
    max-width: 250px;
    border: 1px solid #9a9a9a;
    border-radius: 0 0 5px 5px;
    background-color: rgba(30, 34, 49,0.7);
}

.title {
    cursor: pointer;
    border-radius: 7px;
    padding: 10px;
    color: white;
    font-size: 1.1em;
    text-shadow: 1px 0 1px rgb(66, 62, 62), -1px 0 1px rgb(66, 62, 62), 0 1px 1px rgb(66, 62, 62), 0 -1px 1px rgb(66, 62, 62);
}

.title:hover {
    background-color: cadetblue;
}

.sousTitre {
    color: #9a9a9a;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0 15px 0 15px;
}

.icon {
    cursor: pointer;
    width: 100%;
    max-width: 100px;
    border-radius: 10%;
    padding: 2px;
    background-color: rgb(252, 252, 167);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}


.icon:hover {
    background-color: rgb(255, 252, 92);
}

.icon:active {
    -webkit-box-shadow: 0px 5px 7px -7px #ff8f00;
    box-shadow: 0px 6px 8px -7px #ff8f00;
}

.container__moteurs {
    height: 200px;
}

.commande-camera {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #9a9a9a;

    &__controle:hover{
        opacity:1;
    }
}

#rpiCam {
    background-color: black;
    width: 100%;
    min-height: 300px;
    height: 30vw;
}

.infoConsole {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 0.7em;
    color: #9a9a9a;

    &__haut--height {
        height: 40px;
    }

    &__bas--height {
        height: 100px;
    }

    &__titre {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid #9a9a9a;
        padding: 0 10px 0 10px;
        background-color: #1e2231;
        font-weight: bold;
        min-width: 100px;

        &__server--bRadius {
            border-radius: 5px 0 0 0;
        }

        &__serialPort--bRadius {
            border-radius: 0 0 0 5px;
        }
    }

    .terminal {
        flex-grow: 1;
        overflow: scroll;
        border-width: 1px 1px 1px 0;
        border-style: solid;
        border-color: #9a9a9a;
        color: lime;
        background-color: #1e1e1e;
        padding: 0 5px 0 5px;
        font-size: 0.9em;
        font-weight: 500;

        &-server {
            border-radius: 0 5px 0 0;
            height: 100%;
        }

        &-serialPort {
            border-radius: 0 0 5px 0;
            height: 100%;
        }
    }
}

@media screen and (max-width:755px) {
    .infoConsole {
        &__haut--height {
            height: 20px;
        }

        &__bas--height {
            height: 45px;
        }
    }
}

@media screen and (max-width:1199px) {
    #rpiCam {
        background-color: black;
        width: 100%;
        min-height: 50vw;
        height: auto;
    }
}